@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

* {
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    background: black;
    color: white;
}
body::-webkit-scrollbar {
  display: none;
}

a {
    color: white;
}
header {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 25px;
    padding-right: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    background: black;

}

span {
    color: #448560;
}

.citybackground {
    display: flex;
position: fixed;
right: 0;
bottom: 0;
width: 100%;
min-height: 100%;
z-index: -1;
opacity: 0.12;
filter: grayscale();
}

#header-name {
    font-size: 30px;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 3vw;
    margin-top: 7px;

}

.nav-list {
    list-style-type: none;
    color: white;

}

.nav-anchor {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    transition-duration: 0.4s;
    position: relative;
}

.nav-anchor::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-anchor:hover::before {
  transform: scaleX(1);
}

.imgbar {
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-left: 10vw;
    margin-right: 10vw;

}

.hi {
    font-size: 24px;
}

.main-pic {
    width: 450px;
    border-radius: 50%;
    border: 8px solid #448560;
}

.main-text-div {
    align-self: center;
    width: 40%;

}

.main-text {
    font-size: 4em;
    font-weight: 500;
}

.imgbar h3 {
    font-weight: 400;
    margin-top: 25px;
    font-size: 26px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    margin-top: 30px;
}

.aboutButtonDiv {
    text-align: center;
    margin-top: 75px;
}

.aboutButton {
    text-decoration: none;
    padding: 12px 20px 12px 40px;
    border: 3px solid #448560;
    font-size: 20px;
    border-radius: 2px;
    transition-duration: 0.4s;
}
.fa-angle-down {
    font-size: 20px;
}
.aboutButton:hover {
    background: white;
    color: black;
    transform: scale(1.05);
}

h2 {
    /* text-align: center; */
    font-size: 4em;
    font-weight: 400;
    color: #448560;
}

#about {
    padding-top: 5vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.about-pic {
    width: 400px;

    border-radius: 2px;
    border: 4px solid white;
}

.about-div {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.about-text {
    font-size: 23px;
}

.contactButtonDiv {
    margin-top: 5vh;
}

.contactButton {
    text-decoration: none;
    padding: 12px 40px;
    border: 3px solid #448560;
    font-size: 20px;
    border-radius: 2px;
    transition-duration: 0.4s;
}

.contactButton:hover {
    background: white;
    color: black;
    transform: scale(1.05);
}

#resume {
    padding-top: 5vh;
    padding-left: 15vw;
    padding-right: 15vw;

}

.resumeskillContainer {
    margin-top: 10vh;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8vw;
}

.resumePic {
    width: 420px;
    transition-duration: 0.4s;
}

.resumePic:hover {
    opacity: 0.6;
}

.resumeContainer {
    display:flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.skillContainer {
    display:flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.skillIcons {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.skillIconRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.devicon-html5-plain-wordmark:hover {
    color: #e34c26;
}

.devicon-css3-plain-wordmark:hover {
    color: #3C99DC;
}

.devicon-javascript-plain:hover {
    color: #F0DB4F;
}

.devicon-jquery-plain-wordmark:hover {
    color: #0868AC;
}

.devicon-typescript-plain:hover {
    color: #007acc;
}

.devicon-react-original-wordmark:hover {
    color: #61DBFB;
}

.devicon-mongodb-plain-wordmark:hover {
    color: #4DB33D;
}

.devicon-python-plain-wordmark:hover {
    color: #4B8BBE;
}

.devicon-django-plain:hover {
    color: #092e20;
}

.devicon-postgresql-plain-wordmark:hover {
    color: #2F6792;
}

.devicon-nodejs-plain:hover {
    color: #3c873A;
}

.devicon-heroku-original-wordmark:hover {
    color: #6762A6;
}

.devicon-git-plain:hover {
    color: #F1502F;
}

.devicon-github-original-wordmark:hover {
    color: #AD5C51;
}

.devicon-express-original:hover {
    color: black;
}

.devicon-vscode-plain:hover {
    color: #0078d7;
}

.resumeHeader {
    font-weight: 200;
    font-size: 30px;
}

.divider {
    margin-top: 5vh;
    height: 575px;
    background: white;
    opacity: 0.3;
}

i {
    font-size: 80px;
    margin-left: 10px;
    margin-right: 10px;

}
 #projects {
     padding-top: 5vh;
     padding-left: 20vw;
     padding-right: 20vw;
 }

 .projectsContainer {
     margin-top: 10vh;
     margin-bottom: 10vh;
     display: flex;
     flex-direction: column;
     gap: 80px;
 }

 .chordstrike, .seoulsisters, .disc, .missionatom {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     gap: 3vw;
     text-align: right;
 }

 .projectImg {
     width: 500px;
     /* border: 3px solid #448560; */
     transition-duration: 0.4s;
     filter: grayscale();
 }

.projectImg:hover {
    filter: none;
    cursor: pointer;
}
 .projectTitle {
     font-size: 36px;
     text-align: left;

 }

 .projectText {
     font-size: 18px;
     margin-bottom: 20px;
     text-align: left;
     font-weight: 300;
 }

 .projectAnchor {
     padding: 5px 20px;
     border: 2px solid #448560;
     text-decoration: none;
     transition-duration: 0.4s;

 }

 .projectAnchor:hover {
     color: black;
     background: white;
 }

 .projectButtons {
     display: flex;
     flex-direction: row;
     gap: 10px;
     justify-content: flex-end;
 }

 #gallery {
     padding-top: 5vh;
     padding-left: 15vw;
     padding-right: 15vw;
 }

 .galleryText {
     color: white;
     text-align: center;
     font-size: 30px;
     margin-top: 10vh;
 }

 * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container   {
    border: 5px solid white;
  max-width: 600px;
  position: relative;
  margin-top: 3vh;
  margin-bottom: 10vh;
  margin-right: auto;
  margin-left: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.cubePic {
    width: 100%;
}

#contact {
    padding-top: 5vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

.contact-div {
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  font-weight: 100;



}

.input {
    padding: 15px 100px 15px 15px;
    margin: 20px 0px;
    font-size: 20px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    /* background:transparent;
    color; white;
    border: 2px solid #448560; */
}

.message {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.messageText {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
}

.submitButton {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'IBM Plex Sans Arabic';
    font-size: 20px;
    background: #448560;
    transition-duration: 0.4s;
}

.submitButton:hover {

        background: white;
        color: black;


}

.socials {
    margin-top: 8vh;
    margin-bottom: 10vh;
}

.bottomicon {
    font-size: 50px;
    transition-duration:0.4s;
}

.bottomicon:hover {
    color: #448560;
    transform: scale(1.04);
}

.footer {
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background: black;

}

.footerlink {

    text-decoration: none;
}
img {
    width: 250px;
}
