* {
  border: 1px solid transparent;
}

@media only screen and (max-width: 600px) {
  * {
  margin: 0;
  padding: 0;
}
header {
  padding-top: 7%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
  #header-name {
    font-size: 65px;
    padding-top: 5%;
    text-align: center;
  }
  .header-description {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0 auto 5% auto;
  }
  .lilypics-div {
    text-align: center;
  }
  .main-pic {
    width: 330px;
    margin-top: 10%;
    border-radius: 10px;
    border: 1px solid white;

  }
  .imgbar {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100vh;
  }
  .nav-list {
    display: flex;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
  }
  .nav-bar {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    gap: 20px;

  }

  .nav-anchor {
    text-decoration: none;
    color:white;
  }

  .about-div {
    font-size: 10px;
  }

  #about {
    height: 150vh;
  }

  .carousel-images {
    width: 200px;
  }
  .carousel-images img{
    width: 200px;
  }
  .form {
    width: 250px;
  }
  .contact-div {
    width: 250px;
  }
  #resume {
    height: 1500px;
  }
  .resume-text {
    font-size: 24px;
  }
  .resume-subtext {
    font-size: 16px;
  }

}

@media (min-width: 600px) {

  header {
    padding-top: 7%;
    padding-left: 8%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  #header-name {
    font-size: 550%;
  }
  .header-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding-left: 1%;
  }
  .main-pic {
    width: min(60vw, 800px);
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 10px;
    border: 1px solid white;
  }

  .nav-list {
    display:flex;
    justify-content: right;
    list-style-type: none;
    font-size: min(3vw, 48px);
    font-family: 'Roboto', sans-serif;
    margin: 10%;
    padding: 2%;
  }

  .nav-list:hover {
    cursor: pointer;
    transform: scale(1.5);
  }

  .nav-bar {
    right: 5%;
    position: fixed;
    /* margin-right: 5%; */

  }

  .nav-anchor {
    text-decoration: none;
      color:white;
  }

  .nav-anchor:hover {

  color: lightgrey;
  }

  .navbar-div {
    text-align: right;
    justify-content: right;

  }
  .imgbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-shrink: 1;
    height: 700px;

  }

}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url(josefin-sans/josefinsans-regular.ttf);
}

body {
  display: flex;
  flex-direction: column;
  background: #000000;
  color: white;
}



p {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}
.header {

  font-family: 'JosefinSans-Regular';
  /* word-spacing: 2px; */
  /* letter-spacing: 2px; */
}



.lilypics-div {
  border-radius: 10px;
}

#about {
  height: 100vh;
  /* display: inline-block; */
}

#resume {
  height: 100vh;
}
#projects {
  height: 100vh;
}

#gallery {
  height: 110vh;
}

#links {
  height: 100vh;
}

#contact {
  height: 100vh;
}

.previous img, .next img {
  height: 20px;
  width: 20px;
}

.previous img:hover{
  transform: scale(2)
}

.next img:hover {
  transform: scale(2)
}

h2 {
  font-size: 52px;
  font-family: 'JosefinSans-Regular';
  padding-left: 10%;
}

.about-text, .projects-text, .gallery-text, .links-text, .contact-text {
  padding-left: 10%;
  padding-right: 30%;
  /* padding-top: 5%; */
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: lightgrey;
}

.about-text {
  font-size: 3vh;
  /* display: inline-block; */
  /* text-align: justify; */
}

.about-pic {
  width: min(300px, 25vw);
  float: right;
  margin-right: 30%;
  margin-left: 3%;
  margin-bottom: 0.5%;
  border-radius: 10px;
  border: 1px solid white;

}

.projects-text, .links-text {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding-left: 10%;
  text-decoration: none;
  color: lightgrey;
}

.resume-text {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding-left: 10%;
  text-decoration: none;
  color: white;
  margin: 0 auto;
}
.resume-subtext {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding-left: 10%;
  padding-right: 30%;
}

.zelda-div, .github-div {
  margin-top: 10vh;
  margin-bottom: 3%;
}

.linkedin-div, .facebook-div, .instagram-div, .fakeone-div, .faketwo-div {
  margin-bottom: 3%;
}

.zelda-div:hover, .github-div:hover, .linkedin-div:hover, .facebook-div:hover, .instagram-div:hover, .reddit-div:hover, .fakeone-div:hover, .faketwo-div:hover {
  transform: scale(1.2);

}

.link-images img{
  height: 30px;
  width: 30px;
}


.carousel-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  padding-top: 5vh;

}

.carousel-images {
  width: max(30vw, 400px);

}

.carousel-images img{
  width: max(30vw, 400px);
  border-radius: 10px;
  display: none;
  /* border: 1px solid white; */

}



.carousel-button {
	align-self: center;
	background: black;
	/* color: #888; */
	padding: 10px;
	border-radius: 50%;
	text-align: center;
}

.carousel-button:hover {
	cursor: pointer;
}

.carousel-images img:first-of-type {
	display: block;
}

.contact-div {
  display: flex;
  justify-content: flex-start;
  margin-top: 10vh;
  padding: 20px;
  border-radius: 10px;

}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  margin-left: 10vw;

}
input[type=text], input[type=email], input[type=tel], textarea {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
  font-family: 'Montserrat', sans-serif;
}
input[type=submit] {
  background-color: #E6CD0F;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

}
input[type=submit]:hover {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  transform: scale(1.1)

}

.skyline-image {
  width:100%;
  opacity: 0.3;

}
.github-image {
  position: fixed;
  left: 8px;
  bottom: 205px;
  width: 35px;
  height: 35px;
}
.github-image:hover {
  cursor: pointer;
  transform: scale(1.2);

}

.linkedin-image {
  position: fixed;
  left: 10px;
  bottom: 160px;
  width: 30px;
  height: 30px;
}
.linkedin-image:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.reddit-image {
  width: 30px;
  height: 30px;
  left: 10px;
  bottom: 10px;
  position: fixed;
}
.reddit-image:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.facebook-image {
  width: 30px;
  height: 30px;
  left: 10px;
  bottom: 110px;
  position: fixed;
}
.facebook-image:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.instagram-image {
  width: 30px;
  height: 30px;
  left: 10px;
  bottom: 60px;
  position: fixed;
}
.instagram-image:hover {
  cursor: pointer;
  transform: scale(1.2);
}
