/* * {
  border: 1px solid white;
} */
@media screen and (max-width: 800px) {
  body {
    font-size: 20px;
  }
}
html {
  scroll-behavior: smooth;
}
/* @font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url(league-spartan/LeagueSpartan-Bold.otf);

} */

@font-face {
  font-family: 'JosefinSans-Regular';
  src: url(josefin-sans/josefinsans-regular.ttf);

}

body {
  display: flex;
  flex-direction: column;
  background: black;
  color: white;

}


header {
  padding-top: 7%;
  padding-left: 8%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

p {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}
.header {

  font-family: 'JosefinSans-Regular';
  /* word-spacing: 2px; */
  /* letter-spacing: 2px; */
}

.header-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-left: 1%;
}

#header-name {
  font-size: 550%;

}


.nav-list {
  display:flex;
  justify-content: right;
  list-style-type: none;
  font-size: 2rem;
  font-family: 'JosefinSans-Regular';
  margin: 10%;
  padding: 2%;
}

.nav-list:hover {
  cursor: pointer;
  transform: scale(1.5)
}

.nav-bar {
  right: 5%;
  position: fixed;
  /* margin-right: 5%; */

}

.navbar-div {
  text-align: right;
  justify-content: right;


}

.main-pic {
  max-width: 400px;
  margin-left: 30%;
  margin-top: 10%;
  /* padding: 4%; */

}


.lilypics_div {


}
.imgbar {
  display: flex;
  flex flow: row wrap;
  justify-content: flex-start;
  flex-shrink: 1;
  height: 700px;

}

#about {
  height: 1000px;
}

#resume {
  height: 1000px;
}
#projects {
  height: 1000px;
}

#gallery {
  height: 1000px;
}

#links {
  height: 1000px;
}

.nav-anchor {
  text-decoration: none;
  color: lightgrey;
}

.previous img, .next img {
  height: 20px;
  width: 20px;
}

.previous img:hover{
  transform: scale(2)
}

.next img:hover {
  transform: scale(2)
}

h2 {
  font-size: 52px;
  font-family: 'JosefinSans-Regular';
  padding-left: 10%
}

.about-text, .resume-text, .projects-text, .gallery-text, .links-text {
  padding-left: 10%;
  padding-right: 30%;
  /* padding-top: 5%; */
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: lightgrey;
}

.projects-text, .links-text, .resume-text {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding-left: 10%;
  text-decoration: none;
  color: lightgrey;
}

.zelda-div, .github-div {
  margin-top: 20%;
  margin-bottom: 3%;
}

.linkedin-div, .facebook-div, .instagram-div {
  margin-bottom: 3%;
}

.zelda-div:hover, .github-div:hover, .linkedin-div:hover, .facebook-div:hover, .instagram-div:hover, .reddit-div:hover {
  transform: scale(1.2);

}


.link-images img{
  height: 30px;
  width: 30px;
}

.fa {
  /* padding: 20px;
  font-size: 30px; */
  width: 20px;
  text-align: center;
  text-decoration: none;

}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.carousel-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  padding-top: 10%;

}

.carousel-images {
  width: 50%;

}

.carousel-images img{
  width: min(100%, 500px);
  border-radius: 10px;
  display: none;
  /* border: 1px solid white; */

}

.carousel-button {
	align-self: center;
	background: black;
	/* color: #888; */
	padding: 10px;
	border-radius: 50%;

	text-align: center;
	/* box-shadow: 1.5px 1.5px white; */
}

.carousel-button:hover {
	cursor: pointer;

}

.carousel-images img:first-of-type {
	display: block;

}
